<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/password_list">Ma base de mot de passe</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        </ul>
    </header>
    <div>
        <h1>Bonjour</h1>
        <p>{{ username }}</p>
    </div>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
</body>

</html>