{% extends 'base.html' %}
{% block title %}Password List{% endblock %}

{% block content %}
<div>

    <button name="add_password">Ajouter une entrée</button>
    <button name="confirm_add" style="display: none;">Valider</button>
    <select id="category-filter">
        <option value="">Toutes</option>
        {% for categorie in categories %}
            <option value="{{ categorie.id_password_category }}">{{ categorie.category_name }}</option>
        {% endfor %}
    </select>
    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Platforme</th>
                    <th>Passwords</th>
                    <th>Date création</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for password in passwords %}
                <tr>
                    {% if password.category_name == "" %}
                    <td>Aucune</td>
                    {% else %}
                    <td>{{ password.category_name }}</td>
                    {% endif %}
                    <td>{{ password.platform_name }}</td>
                    <td>{{ password.password }}</td>
                    <td>{{ password.created_at }}</td>
                    <td>
                        <button class="share-btn" data-id="{{ password.id_password }}">Partager</button>
                        <button class="edit-btn" data-id="{{ password.id_password }}">Modifier</button>
                        <button class="delete-btn" data-id="{{ password.id_password }}">Supprimer</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block scripts%}
<script>
    // Filter passwords by category
    const categoryFilter = document.getElementById('category-filter');
    categoryFilter.addEventListener('change', async () => {
        const selectedCategory = categoryFilter.value;
        const response = await fetch('/filter_passwords', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ category: selectedCategory })
        });
        const data = await response.json();
        const tableBody = document.querySelector('table tbody');
        tableBody.innerHTML = ''; // Clear existing rows
        data.passwords.forEach(password => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${password.category_name}</td>
                <td>${password.platform_name}</td>
                <td>${password.password}</td>
                <td>${password.created_at}</td>
                <td>
                    <button class="share-btn" data-id="${password.id_password}">Partager</button>
                    <button class="edit-btn" data-id="${password.id_password}">Modifier</button>
                    <button class="delete-btn" data-id="${password.id_password}">Supprimer</button>
                </td>
            `;
            tableBody.appendChild(row);
        });
    });

    // Add password => ajoute les inputs et actives le bouton de validation
    const button = document.querySelector('button[name="add_password"]');
    button.addEventListener('click', async () => {
        const tableContainer = document.querySelector('table tbody');
        const existingInputRow = tableContainer.querySelector('tr input');
        if (!existingInputRow) {
            const newRow = document.createElement('tr');
            const currentDate = new Date().toISOString().split('T')[0];
            newRow.innerHTML = `
                <td><select id="category_id">
                    <option value="0">Aucune</option>
                    {% for categorie in categories %}
                        <option value="{{ categorie.id_password_category }}">{{ categorie.category_name }}</option>
                    {% endfor %}
                </select></td>
                <td><input type="text" id="platform_name"></td>
                <td><input type="text" id="password" ></td>
                
                <td>${currentDate}</td>
            `;
            tableContainer.prepend(newRow);
            const confirmButton = document.querySelector('button[name="confirm_add"]');
            confirmButton.style.display = 'block';
            const button_add_password = document.querySelector('button[name="confirm_add"]');
            const input_add_password = document.querySelector('input[id="password"]');
            button_add_password.addEventListener('click', addPassword);
            input_add_password.addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    addPassword();
                }
            });
        }
    });

    // Confirm add password => envoie la requête pour ajouter le mot de passe
    async function addPassword() {
        const plateforme = document.querySelector('input[id="platform_name"]').value;
        const password = document.querySelector('input[id="password"]').value;
        const categoryId = document.querySelector('select[id="category_id"]').value;

        const response = await fetch('/add_password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                platform_name: plateforme,
                password: password,
                category_id: categoryId
            })
        });
        const data = await response.json();
        if (data.success) {
            window.location.reload();
        } else {
            alert('Erreur lors de l\'ajout du mot de passe');
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        // Share button
        document.querySelectorAll('.share-btn').forEach(button => {
            button.addEventListener('click', async () => {
                const id = button.getAttribute('data-id');
                const response = await fetch(`/share_password`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ id: id })
                });
                const data = await response.json();
                if (data.success) {
                    alert('Mot de passe partagé avec succès');
                    alert(data.share_link);
                } else {
                    alert('Erreur lors du partage');
                }
            });
        });

        // Edit button
        document.querySelectorAll('.edit-btn').forEach(button => {
            button.addEventListener('click', async () => {
                const id = button.getAttribute('data-id');
                const newPassword = prompt('Entrez le nouveau mot de passe :');
                if (newPassword) {
                    const response = await fetch(`/edit`, {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ password: newPassword, id: id })
                    });
                    const data = await response.json();
                    if (data.success) {
                        alert('Mot de passe modifié avec succès');
                        window.location.reload();
                    } else {
                        alert('Erreur lors de la modification');
                    }
                }
            });
        });

        // Delete button
        document.querySelectorAll('.delete-btn').forEach(button => {
            button.addEventListener('click', async () => {
                const id = button.getAttribute('data-id');
                if (confirm('Êtes-vous sûr de vouloir supprimer ce mot de passe ?')) {
                    const response = await fetch(`/delete`, {
                        method: 'DELETE',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ id: id })
                    });
                    const data = await response.json();
                    if (data.success) {
                        alert('Mot de passe supprimé avec succès');
                        window.location.reload();
                    } else {
                        alert('Erreur lors de la suppression');
                    }
                }
            });
        });
    });
</script>
{%endblock%}

{%block styles%}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid black;
        padding: 0.5rem;
    }

    tbody {
        display: block;
        max-height: 600px;
        overflow-y: auto;
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>
{%endblock%}