{% extends 'base.html' %}
{% block title %}Password List{% endblock %}

{% block content %}
<div>
    
    <button name="add_password">Ajouter une entrée</button>
    <button name="confirm_add" style="display: none;">Valider</button>
    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Platforme</th>
                    <th>Passwords</th>
                    <th>Date création</th>
                </tr>
            </thead>
            <tbody>
                {% for password in passwords %}
                <tr>
                    <td>{{ password.platform_name }}</td>
                    <td>{{ password.password }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<div>
{% endblock %}

{%block scripts%}
<script>
    const button = document.querySelector('button[name="add_password"]');
    button.addEventListener('click', async () => {
        const tableContainer = document.querySelector('table tbody');
        const existingInputRow = tableContainer.querySelector('tr input');
        if (!existingInputRow) {
            const newRow = document.createElement('tr');
            const currentDate = new Date().toISOString().split('T')[0];
            newRow.innerHTML = `
                <td><input type="text" id="platform_name"></td>
                <td><input type="text" id="password"></td>
                <td>${ currentDate }</td>
            `;
            tableContainer.prepend(newRow); // Ajoute la ligne au tout début
            const confirmButton = document.querySelector('button[name="confirm_add"]');
            confirmButton.style.display = 'block';
        }
    });


    const button_add_password = document.querySelector('button[name="confirm_add"]');
    button_add_password.addEventListener('click', async () => {
        const plateforme = document.querySelector('input[id="platform_name"]').value;
        const password = document.querySelector('input[id="password"]').value;

        const response = await fetch('/add_password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                platform_name: plateforme,
                password: password
            })
        });
        const data = await response.json();
        console.log(data);
    });
</script>
{%endblock%}

{%block styles%}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 0.5rem;
    }

    tbody {
        display: block;
        max-height: 200px; /* Adjust height as needed */
        overflow-y: auto;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>
{%endblock%}